NODE_ENV=development

# Shared
DATABASE_URL=postgresql://muthukumar@/nutrilens

# API
API_PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=4lPAiw+9Yw28UcvOnB45t1K7kJbhv+Mt3pLveRcX/5k=
JWT_EXPIRES_IN=7d
xOPENAI_API_KEY=your_openai_api_key_here
OPENAI_VISION_MODEL=gpt-4.1-mini
FATSECRET_CLIENT_ID=5c0bb5bdd4014ac08304bca367569103
FATSECRET_CLIENT_SECRET=c4ead66e292c46fd9e194e1a80cc5f7c
FATSECRET_AUTH_URL=https://oauth.fatsecret.com/connect/token
FATSECRET_BASE_URL=https://platform.fatsecret.com/rest/foods/search/v2
FATSECRET_REGION=IN
GARMIN_SYNC_MODE=mock
GARMIN_ACCESS_TOKEN_URL=
GARMIN_BASE_URL=
GARMIN_DAILY_SUMMARY_PATH=
GARMIN_ACTIVITY_PATH=
GARMIN_CLIENT_ID=
GARMIN_CLIENT_SECRET=
GARMIN_USER_ID=
GARMIN_REGION=US
ALLOW_DEMO_MODE=false

# Web
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api
